.footer {
  width: 100%;
  max-width: 984px;

  margin: 92px auto 0;
  padding-bottom: 24px;

  text-align: center;
}

.footer__copyright {
  margin: 0;

  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0;

  color: #ffffff;
}

/* ========================================
   TABLET
======================================== */

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - 48px);

    margin-top: 64px;
  }
}

/* ========================================
   MOBILE
======================================== */

@media screen and (max-width: 544px) {
  .footer {
    width: calc(100% - 32px);

    padding-bottom: 20px;
  }
}
